<form [formGroup] = "productForm">
<mat-list role="list">

    <div>
        <h2>ADD EMPLOYEE
        <button mat-icon-button class="close-button" aria-label="Example icon-button with heart icon" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</h2>
    </div>

    <mat-divider></mat-divider>

    <mat-list-item class="first-row" role="listitem">

        <mat-form-field class="product-name" appearance="outline" hideRequiredMarker>
            <mat-label class="label-addstocks">Employee ID</mat-label>
            <input required id=first_name matInput class="input-addstocks" placeholder="Employee ID"  formControlName = "emp_id"> 
            <mat-hint style="color: red;" class="alert alert-danger" *ngIf="productForm.get('emp_id').touched && productForm.get('emp_id').errors?.required">Employee ID *required</mat-hint>
  
       </mat-form-field>
    </mat-list-item>

    <mat-list-item class="second-row" role="listitem">

        <mat-form-field class="product-name" appearance="outline" hideRequiredMarker>
            <mat-label class="label-addstocks">First Name</mat-label>
            <input required id=first_name matInput class="input-addstocks" placeholder="First Name"  formControlName = "first_name"> 
            <mat-hint style="color: red;" class="alert alert-danger" *ngIf="productForm.get('first_name').touched && productForm.get('first_name').errors?.required">First Name *required</mat-hint>
  
       </mat-form-field>

       <mat-form-field class="product-name" appearance="outline" hideRequiredMarker>
        <mat-label class="label-addstocks">Last Name</mat-label>
        <input required id=last_name matInput class="input-addstocks" placeholder="Last Name"  formControlName = "last_name"> 
        <mat-hint style="color: red;" class="alert alert-danger" *ngIf="productForm.get('last_name').touched && productForm.get('last_name').errors?.required">Last Name *required</mat-hint>

   </mat-form-field>

        <mat-form-field appearance="outline" class="measurement">
            <mat-label>Sex</mat-label>
            <mat-select formControlName ="measurementType">
              <mat-option *ngFor="let mt of mt" [value]="mt.value">
                {{mt.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

    </mat-list-item>

    <mat-list-item class="third-row" role="listitem">

        <mat-form-field class="description" appearance="outline" hideRequiredMarker>
            <mat-label class="label-addstocks">Home Address</mat-label>
            <input required class="input-addstocks" matInput placeholder="Home Address" formControlName = "item_desc" >
            <mat-hint style="color: red;" class="alert alert-danger" *ngIf="productForm.get('item_desc').touched && productForm.get('item_desc').errors?.required">Home Address *required</mat-hint>
            
        </mat-form-field>

    </mat-list-item>

    <mat-list-item class="fourth-row" role="listitem">

        <mat-form-field class="date-expiry" appearance="outline" hideRequiredMarker>
            <mat-label class="label-addstocks">Date of Birth</mat-label>
            <input required class="input-addstocks" matInput placeholder="Date of Birth" [matDatepicker]="picker" formControlName = "date_expiry">
            <mat-hint style="color: red;" class="alert alert-danger" *ngIf="productForm.get('date_expiry').touched && productForm.get('date_expiry').errors?.required">Date of Birth *required</mat-hint>

            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="price" appearance="outline" hideRequiredMarker>
            <mat-label class="label-addstocks">Phone Number</mat-label>
            <input required class="input-addstocks" matInput type="number" class="example-right-align" formControlName = "contact_num">
            <mat-hint style="color: red;" class="alert alert-danger" *ngIf="productForm.get('contact_num').touched && productForm.get('contact_num').errors?.required">Phone Number *required</mat-hint>
        </mat-form-field>

        <mat-form-field class="description" appearance="outline" hideRequiredMarker>
            <mat-label class="label-addstocks">Job Title</mat-label>
            <input required class="input-addstocks" matInput placeholder="Job Title" formControlName = "item_minimum" >
            <mat-hint style="color: red;" class="alert alert-danger" *ngIf="productForm.get('item_minimum').touched && productForm.get('item_minimum').errors?.required">Job Title *required</mat-hint>

        </mat-form-field>


    </mat-list-item>

    <mat-list-item class="fifth-row" role="listitem" >

        <mat-form-field class="remarks" appearance="outline" hideRequiredMarker>
            <mat-label class="label-addstocks">Department</mat-label>
            <input required class="input-addstocks" matInput placeholder="Department" formControlName = "remarks">
            <mat-hint style="color: red;" class="alert alert-danger" *ngIf="productForm.get('remarks').touched && productForm.get('remarks').errors?.required">Department *required</mat-hint>

        </mat-form-field>

    </mat-list-item>
    <br/>

    <mat-list-item class="sixth-row" role="listitem" >

        <mat-form-field appearance="outline" class="price">
            <mat-label>Schedule Time in</mat-label>
            <mat-select formControlName ="time_in">
              <mat-option *ngFor="let ti of ti" [value]="ti.value">
                {{ti.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

 <br/>

          <mat-form-field appearance="outline" class="price">
            <mat-label>Schedule Time out</mat-label>
            <mat-select formControlName ="time_out">
              <mat-option *ngFor="let to of to" [value]="to.value">
                {{to.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        
        

    </mat-list-item>
    <button class="add-button" [disabled]="productForm.invalid" (click)="addProduct()" mat-flat-button color="warn">Add</button>

</mat-list>
</form>