<!--PRODUCTS TABLE-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <title>Inventory Management System</title>
</head>

<body>
    <div class="sidenavbar">

        <mat-sidenav-container autosize>
            <mat-sidenav class="sidenav" #drawer mode="side" opened="true">
                <img src="../assets/logo.png" class="inventory-logo">

                <button mat-button class="sidebarcontent" routerLink="/main"><mat-icon class="dashboard">dashboard</mat-icon> Dashboard</button>
                <button mat-button class="sidebarcontent" routerLink="/orders"><mat-icon class="orders">shopping_cart</mat-icon> Orders</button>
                <button mat-button class="sidebarcontent" routerLink="/stocks"><mat-icon class="stocks">inventory_2</mat-icon> Stocks</button>
                <button mat-button class="sidebarcontent" routerLink="/supply"><mat-icon class="supply">local_shipping</mat-icon> Supply</button>
                <button mat-button class="sidebarcontent" routerLink="/itemHistory">	<mat-icon>history</mat-icon> Item history</button>
            </mat-sidenav>
            <mat-sidenav-content>
                <div>
                    <mat-toolbar color="primary" class="navbar">
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
                          <mat-icon>menu</mat-icon>
                      </button>
                        <span>INVENTORY SYSTEM</span>
                        <span class="example-spacer"></span>

                        <h3 class="admin-name">Hello! <span id="name"></span></h3>

                        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                          <mat-icon>person</mat-icon>
                      </button>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" type="button" >
                        <mat-icon>logout</mat-icon>
                    </button>
                    </mat-toolbar>
                </div>

    <div class="gridSize">
                
        <div class="topContent">

            <div style="display: flex; flex-direction: column;">
     
                <label id="radioLabel">Filter By</label> 
                <mat-radio-group
                aria-labelledby="radioLabel"
                class="radioBtn"
                [(ngModel)]="selectedMonth" (ngModelChange)="monthSelected();">
            
                <mat-radio-button class="example-radio-button" *ngFor="let filterBy of filterBy" [value]="filterBy" [checked] = "filterBy == 'All'">
                {{filterBy}}
                </mat-radio-button>
                </mat-radio-group>
            </div>
            <div [formGroup] = "datePicker">
            <mat-form-field appearance="outline" >
                <mat-label>Month and Year</mat-label>
                <input id="selectedMy" formControlName= "date1" matInput [matDatepicker]="dp" [formControl]="date" (ngModelChange) ="monthSelected();">
                <mat-datepicker-toggle  matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker disabled = "{{inputDisable}}" #dp 
                
                                startView="multi-year"
                                (yearSelected)="chosenYearHandler($event)"
                                (monthSelected)="chosenMonthHandler($event, dp)"
                                panelClass="example-month-picker">
                </mat-datepicker>
              </mat-form-field>
            </div>      
        </div>
    </div>
  
     <!-- TABLE SECTION -->

     <div class="mat-elevation-z8 tableSize">
        <table mat-table [dataSource]="productInfoTableDataSource"  matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="Column1">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.item_id}} </td>
          </ng-container>
      
          <!-- ITEM_Name Column -->
          <ng-container matColumnDef="Column2">
            <th mat-header-cell *matHeaderCellDef> Product Name </th>
            <td mat-cell *matCellDef="let element"> {{element.item_name}} </td>
          </ng-container>
      
          <!-- Item_desc Column -->
          <ng-container matColumnDef="Column3">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.item_desc}} </td>
          </ng-container>
      
          <!-- item_quant Column -->
          <ng-container matColumnDef="Column4">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.item_quant}} </td>
          </ng-container>

          <!-- item_minimum Column -->
          <ng-container matColumnDef="Column5">
            <th mat-header-cell *matHeaderCellDef> Minimum </th>
            <td mat-cell *matCellDef="let element"> {{element.item_minimum}} </td>
          </ng-container>

           <!-- item_price Column -->
           <ng-container matColumnDef="Column6">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.item_price}} </td>
          </ng-container>
        
          <!-- date_expiry Column -->
          <ng-container matColumnDef="Column7">
            <th mat-header-cell *matHeaderCellDef> DateExpiry </th>
            <td mat-cell *matCellDef="let element"> {{element.date_expiry  |  date: 'MMM d, y'}}</td>
          </ng-container>

           <!-- remarks Column -->
           <ng-container matColumnDef="Column8">
            <th mat-header-cell *matHeaderCellDef> Remarks </th>
            <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
          </ng-container>

          <!-- modifiedBy Column -->
          <ng-container matColumnDef="Column9">
            <th mat-header-cell *matHeaderCellDef> modifiedBy </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.modifiedBy}} <br> {{element.dateModified  |  date: 'MMM d, y' }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
      </div>

      <!-- END OF TABLE CONTENT -->

  

            </mat-sidenav-content>
        </mat-sidenav-container>

      

    </div>
</body>

