<mat-list role="list">

    <div>
        <h2>ARCHIVE</h2>
        <button mat-icon-button class="close-button" aria-label="Example icon-button with heart icon" mat-dialog-close>
        <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-divider></mat-divider>
    <div class="mat-elevation-z8 tableSize">
        <table mat-table [dataSource]="productInfoTableDataSource"  matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="Column1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.item_id}} </td>
          </ng-container>
      
          <!-- ITEM_Name Column -->
          <ng-container matColumnDef="Column2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
            <td mat-cell *matCellDef="let element"> {{element.item_name}} </td>
          </ng-container>
      
          <!-- Item_desc Column -->
          <ng-container matColumnDef="Column3">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.item_desc}} </td>
          </ng-container>
      
          <!-- item_quant Column -->
          <ng-container matColumnDef="Column4">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.item_quant}} </td>
          </ng-container>

          <!-- item_minimum Column -->
          <ng-container matColumnDef="Column5">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Minimum </th>
            <td mat-cell *matCellDef="let element"> {{element.item_minimum}} </td>
          </ng-container>

           <!-- item_price Column -->
           <ng-container matColumnDef="Column6">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.item_price}} </td>
          </ng-container>
        
          <!-- date_expiry Column -->
          <ng-container matColumnDef="Column7">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DateExpiry </th>
            <td mat-cell *matCellDef="let element"> {{element.date_expiry}} </td>
          </ng-container>

           <!-- remarks Column -->
           <ng-container matColumnDef="Column8">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </th>
            <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
          </ng-container>

          <!-- remarks Column -->
          <ng-container matColumnDef="ActionColumn">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Action </th>
            <td mat-cell *matCellDef="let element">
                <!-- <button mat-raised-button color="accent">Accent</button> -->
                <button mat-raised-button color="warn"  (click)="recProduct(element.item_id);">Restore</button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

    <!-- <button class="add-button" (click)="addProduct()" mat-flat-button color="warn">Add</button> -->

</mat-list>