.example-spacer {
    flex: 1 1 auto;
}

.poppins-regular {
    font-family: 'Poppins', sans-serif;
}

mat-sidenav-container,
mat-sidenav-content {
    height: 100%;
    background-color: #FBFBFB;
}

mat-sidenav {
    padding: 0px;
    background-color: whitesmoke;
    color: #404040;
}

mat-sidenav {
    width: 240px;
}

.logout {
    margin-right: 5px;
}

.admin-profile {
    margin-right: 10px;
}

th {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.add-button {
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 100px;
    background-color: #37A641;
    color: #FBFBFB;
}

.search {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 400px;
}

.edit-button {
    background-color: #426FE2;
    margin-right: 5px;
}

.delete-button {
    background-color: #E01818;
}

table {
    margin-left: 100px;
    margin-right: 80px;
    margin-top: 15px;
    width: 88%;
}

.admin-name {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.dashboard {
    margin-left: -75px;
    margin-right: 10px;
}

.orders {
    margin-left: -100px;
    margin-right: 10px;
}

.stocks {
    margin-left: -100px;
    margin-right: 10px;
}

.supply {
    margin-left: -100px;
    margin-right: 10px;
}

.inventory-logo {
    display: block;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 185px;
    height: 70px;
}

.sidenavbar {
    height: 100%;
}

.sidebarcontent {
    width: 100%;
    padding: 8px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.selected {
    background-color: #BABABA;
    color: #000000;
}

.sidenav {
    border-right: 0.75px solid #ECECEC;
}

.navbar {
    background-color: #BAB583;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}