<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <title>Inventory Management System</title>
</head>

<body>
    <div class="sidenavbar">

        <mat-sidenav-container autosize>
            <mat-sidenav class="sidenav" #drawer mode="side" opened="true">
                <img src="../assets/logo.png" class="inventory-logo">

                <button mat-button class="sidebarcontent" routerLink="/main" routerLinkActive="selected"><mat-icon class="dashboard">dashboard</mat-icon> Dashboard</button>
                <button mat-button class="sidebarcontent" routerLink="/orders" routerLinkActive="selected"><mat-icon class="orders">shopping_cart</mat-icon> Orders</button>
                <button mat-button class="sidebarcontent" routerLink="/stocks" routerLinkActive="selected"><mat-icon class="stocks">inventory_2</mat-icon> Stocks</button>
                <button mat-button class="sidebarcontent" routerLink="/supply" routerLinkActive="selected"><mat-icon class="supply">local_shipping</mat-icon> Supply</button>
            </mat-sidenav>
            <mat-sidenav-content>
                <div>
                    <mat-toolbar color="primary" class="navbar">
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
                          <mat-icon>menu</mat-icon>
                      </button>
                        <span>INVENTORY SYSTEM</span>
                        <span class="example-spacer"></span>

                        <h3 class="admin-name">Hello! <span id="name"></span></h3>

                        <button mat-icon-button class="admin-profile" aria-label="Example icon-button with heart icon">
                          <mat-icon>person</mat-icon>
                      </button>
                        <button mat-icon-button class="logout" aria-label="Example icon-button with share icon" type="button" (click)="logoutFunction();">
                        <mat-icon>logout</mat-icon>
                    </button>
                    </mat-toolbar>
                </div>

  
                <div class="btns">
                  <button class="add-button" (click)="addStocks()" mat-flat-button><mat-icon class="aligned-with-icon">add_circle_outline</mat-icon> Add Stocks</button>
                  <button class="view-archives" (click)="addArchive()" matBadge="{{archiveCounter}}"  matBadgeColor="warn"   mat-flat-button><mat-icon class="aligned-with-icon">folder_open</mat-icon><span class="aligned-with-icon"> Archives </span></button>
                </div>
                <mat-form-field class="search"autocomplete="off">
                  
                  <mat-label search><mat-icon class="aligned-with-icon1"  style="font-size: 25px;">search</mat-icon><span class="iLabel">Search</span></mat-label>
                  <input  autocomplete="off" matInput class="searchField" (keyup)="doFilter($event.target.value)" >
              </mat-form-field>

              
                <!-- TABLE SECTION -->
               
                <div class="mat-elevation-z8 tableSize">
                    <table mat-table [dataSource]="productInfoTableDataSource"  matSort>
                  
                      <!-- ID Column -->
                      <ng-container matColumnDef="Column1" >
                        <th mat-header-cell class="th" *matHeaderCellDef  hidden> ID </th>
                        <td mat-cell class="td" *matCellDef="let element" hidden> {{element.item_id}} </td>
                      </ng-container>
                  
                      <!-- ITEM_Name Column -->
                      <ng-container matColumnDef="Column2">
                        <th mat-header-cell class="th" *matHeaderCellDef > Product Name </th>
                        <td mat-cell class="td"  *matCellDef="let element"> {{element.item_name}} </td>
                      </ng-container>
                  
                      <!-- Item_desc Column -->
                      <ng-container matColumnDef="Column3">
                        <th mat-header-cell class="th" *matHeaderCellDef > Description </th>
                        <td mat-cell class="td desc"  *matCellDef="let element"> {{element.item_desc}} </td>
                      </ng-container>
                  
                      <!-- item_quant Column -->
                      <ng-container matColumnDef="Column4">
                        <th mat-header-cell class="th" *matHeaderCellDef > Quantity </th>
                        <td mat-cell class="td"  *matCellDef="let element"> {{element.item_quant | number}} </td>
                      </ng-container>

                      <!-- item_minimum Column -->
                      <ng-container matColumnDef="Column5">
                        <th mat-header-cell class="th" *matHeaderCellDef > Minimum </th>
                        <td mat-cell  class="td"  *matCellDef="let element"> {{element.item_minimum | number}} </td>
                      </ng-container>

                       <!-- item_price Column -->
                       <ng-container matColumnDef="Column6">
                        <th mat-header-cell class="th" *matHeaderCellDef > Price </th>
                        <td mat-cell class="td"   *matCellDef="let element"> {{element.item_price | number}} </td>
                      </ng-container>
                    
                      <!-- date_expiry Column -->
                      <ng-container matColumnDef="Column7">
                        <th mat-header-cell class="th" *matHeaderCellDef > DateExpiry </th>
                        <td mat-cell class="td"   *matCellDef="let element"> {{element.date_expiry  |  date: 'MMM d, y'}}</td>
                      </ng-container>

                       <!-- remarks Column -->
                       <ng-container matColumnDef="Column8">
                        <th mat-header-cell class="th" *matHeaderCellDef > Remarks </th>
                        <td mat-cell class="td"  *matCellDef="let element"> {{element.remarks}} </td>
                      </ng-container>

                      <!-- modifiedBy Column -->
                      <ng-container matColumnDef="Column9">
                        <th mat-header-cell class="th" *matHeaderCellDef > modifiedBy </th>
                        <td mat-cell class="td"  *matCellDef="let element" style="text-align: center;">{{element.modifiedBy}} <br> {{element.dateModified  |  date: 'MMM d, y' }} </td>
                      </ng-container>

                      <!-- remarks Column -->
                      <ng-container matColumnDef="ActionColumn">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Action </th>
                        <td mat-cell  *matCellDef="let element">
                          <div class="actBtn">
                            <button mat-raised-button class="edit-button" color="success" (click)= "editModal(element)"><mat-icon class="editIcon">edit</mat-icon> Edit </button> <br> <br>
                            <button mat-raised-button class="archive-button"  (click)="arcProduct(element.item_id);"><mat-icon class="archiveIcon">archive</mat-icon>Archive</button>
                          </div>
                          </td>
                      </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  
                    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
                  </div>

                  <!-- END OF TABLE CONTENT -->
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>

    <!-- EDIT MODAL -->

    <ng-template #EditDialog>
      <mat-dialog-content>
        <mat-list role="list">

          <div>
              <h2>Edit Stock
              <button mat-icon-button class="close-button" aria-label="Example icon-button with heart icon" mat-dialog-close>
              <mat-icon>close</mat-icon>
          </button>
        </h2>
          </div>
      
          <mat-divider></mat-divider>
      
          <mat-list-item class="first-row" role="listitem">
      
              <mat-form-field class="product-name" appearance="outline">
            
                  <mat-label class="label-editstocks">Product Name</mat-label>
                  <input matInput hidden placeholder="Product Name" [(ngModel)] = "item_id1">
                  <input matInput class="input-editstocks" placeholder="Product Name" [(ngModel)] = "item_name1">
              </mat-form-field>
      
              <mat-form-field class="quantity" appearance="outline">
                  <mat-label>Quantity</mat-label>
                  <input matInput class="input-editstocks" type="number" placeholder="Quantity" [(ngModel)] = "item_quant1">
              </mat-form-field>
      
          </mat-list-item>
      
          <mat-list-item class="second-row" role="listitem">
      
              <mat-form-field class="description" appearance="outline">
                  <mat-label class="label-editstocks">Description</mat-label>
                  <input class="input-editstocks" matInput placeholder="Description" [(ngModel)] = "item_desc1" value="">
              </mat-form-field>
      
          </mat-list-item>
      
          <mat-list-item class="third-row" role="listitem">
      
              <mat-form-field class="date-expiry" appearance="outline">
                  <mat-label class="label-editstocks">Date Expiry</mat-label>
                  <input class="input-editstocks" matInput placeholder="Date Expiry" [matDatepicker]="picker" [(ngModel)] = "date_expiry1">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
      
              <mat-form-field class="price" appearance="outline">
                  <mat-label class="label-editstocks">Price</mat-label>
                  <input class="input-editstocks" matInput type="number" class="example-right-align"  [(ngModel)] = "item_price1">
                  <span matPrefix>₱&nbsp;</span>
                  <span matSuffix>.00</span>
              </mat-form-field>
      
              <mat-form-field class="minimum" appearance="outline">
                  <mat-label class="label-editstocks">Minimum</mat-label>
                  <input class="input-editstocks" matInput type="number" placeholder="Minimum"  [(ngModel)] = "item_minimum1">
              </mat-form-field>
      
          </mat-list-item>
      
          <mat-list-item class="fourth-row" role="listitem">
      
              <mat-form-field class="remarks" appearance="outline">
                  <mat-label class="label-editstocks">Remarks</mat-label>
                  <input class="input-editstocks" matInput placeholder="Remarks"  [(ngModel)] = "remarks1">
              </mat-form-field>
      
          </mat-list-item>
      
         
      </mat-list>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button class="add-button" (click)="editProduct($event);" mat-flat-button color="warn">Add</button>
      </mat-dialog-actions>
    </ng-template>



</body>