<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <title>Inventory Management System</title>
</head>

<body>
    <div class="sidenavbar">

        <mat-sidenav-container autosize>
            <mat-sidenav class="sidenav" #drawer mode="side" opened="true">
                <img src="../assets/logo.png" class="inventory-logo">

                <button mat-button class="sidebarcontent" routerLink="/main" routerLinkActive="selected"><mat-icon class="dashboard">dashboard</mat-icon> Dashboard</button>
                <button mat-button class="sidebarcontent" routerLink="/orders" routerLinkActive="selected"><mat-icon class="orders">shopping_cart</mat-icon> Orders</button>
                <button mat-button class="sidebarcontent" routerLink="/stocks" routerLinkActive="selected"><mat-icon class="stocks">inventory_2</mat-icon> Stocks</button>
                <button mat-button class="sidebarcontent" routerLink="/supply" routerLinkActive="selected"><mat-icon class="supply">local_shipping</mat-icon> Supply</button>
            </mat-sidenav>
            <mat-sidenav-content>
                <div>
                    <mat-toolbar color="primary" class="navbar">
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
                          <mat-icon>menu</mat-icon>
                      </button>
                        <span>INVENTORY SYSTEM</span>
                        <span class="example-spacer"></span>

                        <h3 class="admin-name">Hello! <span id="name"></span></h3>

                        <button mat-icon-button class="admin-profile" aria-label="Example icon-button with heart icon">
                          <mat-icon>person</mat-icon>
                      </button>
                        <button mat-icon-button class="logout" aria-label="Example icon-button with share icon" type="button" (click)="logoutFunction();">
                        <mat-icon>logout</mat-icon>
                    </button>
                    </mat-toolbar>
                </div>

                <button class="add-button" (click)="addStocks()" mat-flat-button>Add Stocks</button>

                <mat-form-field class="search">
                    <mat-label search>Search</mat-label>
                    <input matInput>
                </mat-form-field>

                <table class="table" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Description Column -->
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>

                    <!-- Quantity Column -->
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef> Quantity </th>
                        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="date_acquired">
                        <th mat-header-cell *matHeaderCellDef> Date Acquired </th>
                        <td mat-cell *matCellDef="let element"> {{element.date_acquired}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="date_expiry">
                        <th mat-header-cell *matHeaderCellDef> Date Expiry </th>
                        <td mat-cell *matCellDef="let element"> {{element.date_expiry}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> Price </th>
                        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="minimum">
                        <th mat-header-cell *matHeaderCellDef> Minimum </th>
                        <td mat-cell *matCellDef="let element"> {{element.minimum}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="remarks">
                        <th mat-header-cell *matHeaderCellDef> Remarks </th>
                        <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="date_modified">
                        <th mat-header-cell *matHeaderCellDef> Date Modified </th>
                        <td mat-cell *matCellDef="let element"> {{element.date_modified}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="modified_by">
                        <th mat-header-cell *matHeaderCellDef> Modified By </th>
                        <td mat-cell *matCellDef="let element"> {{element.modified_by}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element"> {{element.action}}
                            <button class="edit-button" mat-flat-button color="primary">Edit</button>
                            <button class="delete-button" mat-flat-button color="warn">Delete</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</body>