.example-spacer {
  flex: 1 1 auto;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
}

mat-sidenav-container,
mat-sidenav-content {
  height: 100%;
  background-color: #fbfbfb;
}

mat-sidenav {
  padding: 0px;
  background-color: whitesmoke;
  color: #404040;
}

mat-sidenav {
  width: 240px;
}

.logout {
  margin-right: 5px;
}

.admin-profile {
  margin-right: 10px;
}

th {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.add-button {
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 100px;
  background-color: #37a641;
  color: #fbfbfb;
}

.search {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: black;
  width: 400px;
}

.edit-button {
  background-color: #426fe2;
  margin-right: 5px;
}

.delete-button {
  background-color: #e01818;
}

table {
  margin-left: 100px;
  margin-right: 80px;
  margin-top: 15px;
  width: 88%;
}

.admin-name {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.dashboard {
  margin-left: -75px;
  margin-right: 10px;
}

.orders {
  margin-left: -100px;
  margin-right: 10px;
}

.stocks {
  margin-left: -100px;
  margin-right: 10px;
}

.supply {
  margin-left: -100px;
  margin-right: 10px;
}

.inventory-logo {
  display: block;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 185px;
  height: 70px;
}

.sidenavbar {
  height: 100%;
}

.sidebarcontent {
  width: 100%;
  padding: 8px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.selected {
  background-color: #bababa;
  color: #000000;
}

.sidenav {
  border-right: 0.75px solid #ececec;
}

.navbar {
  background-color: #bab583;
  font-size: 23px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

/* TABLE STYLE */

.tableSize {
  margin-left: 3%;
  margin-right: 3%;
}

/* EDIT MODAL STYLES */

mat-form-field {
  margin-top: 10px;
}

mat-divider {
  width: 500px;
  margin-left: 15px;
}

.close-button {
  margin-left: 490px;
}

.first-row {
  margin-top: 50px;
  margin-bottom: 35px;
}

.second-row {
  margin-top: 15px;
  margin-bottom: 35px;
}

.third-row {
  margin-top: 15px;
  margin-bottom: 35px;
}

.fourth-row {
  margin-top: 15px;
  margin-bottom: 35px;
}

.product-name {
  width: 260px;
  margin-right: 25px;
}

.quantity {
  width: 215px;
}

.description {
  width: 500px;
}

.date-expiry {
  width: 170px;
  margin-right: 25px;
}

.price {
  width: 170px;
  margin-right: 25px;
}

.minimum {
  width: 110px;
}

.remarks {
  width: 500px;
}

.add-button {
  margin-left: 453px;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: #37a641;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
